@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gradient-start: #0E653B;
  --gradient-end: #0C2A20;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Anakotmai", sans-serif;
}

.gradient-bg {
  background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
}

/* Additional styles for gradient text */
.gradient-text {
  background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@layer utilities {
  .bg-grid-pattern {
    background-size: 4rem 4rem;
    background-image: 
      linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  }
}

/*
Font Name: Anakotmai
Weights: 300, 500, 700
*/
@font-face {
  font-family: "Anakotmai";
  src: url("/fonts/anakotmai-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Anakotmai";
  src: url("/fonts/anakotmai-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Anakotmai";
  src: url("/fonts/anakotmai-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
